ion-card {
  height: 100%;
}

.pendente {
  background-color: var(--ion-color-danger);
  color: white;
}

.finalizado {
  background-color: var(--ion-color-success);
  color: white;
}

ion-card-header {
  padding: 0px;
}
