<ion-card>
  <ion-card-header>
    <ion-row [ngClass]="{pendente: !requisicao.dataSaida, finalizado: requisicao.dataSaida}">
      <ion-col class="datas">
        <small>
          <ion-icon name="arrow-round-up"></ion-icon>
          {{requisicao.dataEntrada | date:'dd/MM/yyyy HH:mm'}}
        </small>
      </ion-col>
      <ion-col class="ion-text-right datas">
        <small>
          <ion-icon name="arrow-round-down"></ion-icon>
          {{(requisicao.dataSaida | date:'dd/MM/yyyy HH:mm') || 'Pendente'}}
        </small>
      </ion-col>
    </ion-row>
  </ion-card-header>

  <ion-card-content>
    <ion-item class="ion-align-items-center ion-text-center">
      <ion-label>{{requisicao.nomeAnimal}}</ion-label>
    </ion-item>
    <ion-item>
      <small>Tutor: {{requisicao.tutor}}</small>
    </ion-item>
    <ion-item>
      <small>
        Requisitante: {{requisicao.veterinarioSolicitante}}
      </small>
    </ion-item>
  </ion-card-content>

  <ion-button
    color="danger"
    expand='full'
    size="small"
    (click)="excluir.emit(requisicao)"
  >
    <ion-icon
      slot="start"
      name="close"
    ></ion-icon>
  </ion-button>

  <ion-button
    expand='full'
    (click)="atualizar.emit(requisicao)"
    size="small"
  >
    <ion-icon
      slot="start"
      name="create"
    ></ion-icon>
  </ion-button>

</ion-card>
