<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
    [formGroup]="loginForm"
    (submit)="onSubmit()"
  >
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col
          align-self-center
          size-md="6"
          size-lg="5"
          size-xs="12"
        >
          <div text-center>
            <h3>Login</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-icon
                name="mail"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-input
                name="email"
                formControlName="email"
                autofocus="true"
                type="email"
                placeholder="Email"
                inputmode="email"
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon
                name="lock"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-input
                formControlName="senha"
                name="senha"
                type="password"
                placeholder="Senha"
                required
              ></ion-input>
            </ion-item>
            <ion-note
              color="danger"
              center
            >
              {{erro}}
            </ion-note>
          </div>
          <div padding>
            <ion-button
              size="large"
              type="submit"
              [disabled]="loginForm.invalid"
              expand="block"
            >
              Submeter
            </ion-button>
            <button
              type="submit"
              [disabled]="loginForm.invalid"
              style="display: none;"
            >
            </button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
