<ion-header>
  <ion-fab horizontal="end">
    <ion-fab-button
      color="success"
      icon-only
      size="small"
      routerLink="/grupos/criar"
      routerDirection="forward"
    >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-toolbar color="primary">
    <ion-title>Lista de grupos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-grupos-item
    *ngFor="let grupo of (grupos$ | async)"
    [grupo]="grupo"
    (atualizado)="onUpdate($event)"
  ></app-grupos-item>
</ion-content>
