<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-configuracoes-item
    *ngFor="let configuracao of configuracoes"
    [configuracao]="configuracao"
    (link)="obterLink($event)"
  ></app-configuracoes-item>
</ion-content>
