.vertical-align-content > * {
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
}

.ion-chip {
  padding: 0px;
}

ion-col {
  padding-top: 0px;
  padding-bottom: 0px;
}
