<ion-app>
  <ion-router-outlet>
    <ion-tabs>
      <ion-tab-bar
        slot="bottom"
        color="primary"
      >
        <ion-tab-button
          routerLink="/home"
          routerDirection="root"
          tab="home"
          [disabled]=true
        >
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button
          routerLink="/requisicoes"
          routerDirection="root"
          tab="requisicoes"
        >
          <ion-icon name="apps"></ion-icon>
          <ion-label>Requisições</ion-label>
        </ion-tab-button>

        <ion-tab-button
          tab="configuracoes"
          routerLink="/configuracoes"
          routerDirection="root"
        >
          <ion-icon name="settings"></ion-icon>
          <ion-label>Configurações</ion-label>
        </ion-tab-button>
        <ion-button (click)="logout()">Logout</ion-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-router-outlet>
</ion-app>
