.header {
  color: blue;
}
.categoria {
  background-color: #3880ff;
  color: white;
}

.disabled {
  // background-color: lightgray;
  display: none;
}

.segment-wrap {
  flex-wrap: wrap;
}

.finalizado {
  color: var(--ion-color-success);
}

.invisible {
  display: none;
}

.nfinalizado {
  color: var(--ion-color-danger);
}

.botaoPequeno {
  margin: 0;
  padding: 0;
}
// @media (max-width: 420px) {
//   /* CSS to apply when the minimum width is 300px goes here */
//   .hide {
//     display: none !important;
//   }
// }
