<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{titulo}}</ion-title>
  </ion-toolbar>
  <!-- Botões -->
  <ion-row class="ion-text-center">
    <ion-col>
      <ion-button
        color="success"
        size="small"
        (click)='onSubmit()'
      >
        Salvar
      </ion-button>
      <ion-button
        (click)='gerarPDF()'
        color="danger"
        size="small"
      >
        Gerar PDF
      </ion-button>
      <ion-button
        (click)='teste()'
        color="secondary"
        size="small"
      >
        Teste
      </ion-button>
    </ion-col>
  </ion-row>
  <!-- Fim Botões -->
  <ion-segment [(ngModel)]="tabAtual">
    <ion-segment-button value="dados">
      <ion-label>Dados</ion-label>
    </ion-segment-button>
    <ion-segment-button value="resultados">
      <ion-label>Resultados</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content *ngIf="listas$ | async as listas$">
  <!-- Dados -->
  <form
    [formGroup]="requisicoesForm"
    (submit)="onSubmit()"
    [ngClass]="{invisible: tabAtual!='dados'}"
  >
    <ion-item>
      <ion-label position="stacked">Nome do Animal</ion-label>
      <ion-input
        name="nomeAnimal"
        autofocus="true"
        inputmode="text"
        formControlName="nomeAnimal"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Espécie</ion-label>
      <ion-select
        formControlName="especie"
        [disabled]="requisicaoId"
      >
        <ion-select-option *ngFor="let especie of listas$.especies">{{especie}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Raça</ion-label>
      <ion-input
        name="raça"
        autofocus="true"
        inputmode="text"
        formControlName="raça"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Sexo</ion-label>
      <ion-select formControlName="sexo">
        <ion-select-option value="m">Macho</ion-select-option>
        <ion-select-option value="f">Fêmea</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Idade(Meses)</ion-label>
      <ion-input
        name="idade"
        autofocus="true"
        inputmode="text"
        formControlName="idade"
        [disabled]="requisicaoId"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Tutor</ion-label>
      <ion-input
        name="tutor"
        inputmode="text"
        formControlName="tutor"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Veterinário Solicitante</ion-label>
      <ion-input
        name="veterinarioSolicitante"
        inputmode="text"
        formControlName="veterinarioSolicitante"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Clinica Solicitante</ion-label>
      <ion-input
        name="clinicaSolicitante"
        inputmode="text"
        formControlName="clinicaSolicitante"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Data da Coleta</ion-label>
      <ion-datetime
        displayFormat="DD/MM/YYYY HH:mm"
        name="dataEntrada"
        formControlName="dataEntrada"
      >
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Data do Resultado</ion-label>
      <ion-datetime
        displayFormat="DD/MM/YYYY HH:mm"
        name="dataSaida"
        formControlName="dataSaida"
      >
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Exames</ion-label>
      <ion-select
        formControlName="examesCadastrados"
        name="exames"
        multiple="true"
        (ionChange)="examesChange($event)"
      >
        <ion-select-option *ngFor="let exame of listas$.exames">{{exame.nome}}</ion-select-option>
      </ion-select>
    </ion-item>
  </form>
  <!-- Resultados -->
  <div *ngIf="tabAtual=='resultados' && isDadosCarregados()">
    <!-- Seleção de Grupos -->
    <ion-segment
      [(ngModel)]="exameSelecionado"
      class="segment-wrap"
    >
      <ion-segment-button
        [value]="grupo.nome"
        *ngFor="let grupo of this.grupos"
        [ngClass]="{finalizado: grupo.resultado,nfinalizado: !grupo.resultado }"
      >
        <ion-label>{{grupo.nome}}</ion-label>
      </ion-segment-button>
    </ion-segment>
    <!-- Fim da Seleção de Grupos -->
    <ion-grid class="grid-bordered">
      <ion-row
        *ngIf="grupo"
        class="ion-text-center"
      >
        <ion-col>
          <ion-toggle
            color="success"
            [(ngModel)]="grupo.resultado"
          >
            {{grupo.resultado ? 'Finalizado' : 'Pendente'}}
          </ion-toggle>
        </ion-col>
      </ion-row>
      <div *ngIf="grupo">
        <div *ngFor="let categoria of grupo.categoria">
          <ion-row>
            <ion-col class="categoria">{{categoria.nome}}</ion-col>
          </ion-row>
          <ion-row
            nowrap
            class="ion-align-items-center ion-text-center header"
          >
            <ion-col
              size="1"
              class="ion-text-left"
              text-left
            ></ion-col>
            <ion-col class="ion-text-left">Exame</ion-col>
            <ion-col>Resultado</ion-col>
            <ion-col size='2'>Unid.</ion-col>
            <ion-col size='2'>Ref.</ion-col>
          </ion-row>
          <div *ngFor="let exame of categoria['exames']">
            <ion-row
              *ngFor="let campo of exame['campos']"
              class="ion-align-items-center ion-text-center abc"
              [ngClass]="{disabled: campo.tipo === 'fórmula'}"
            >
              <ion-col size="1">
                <ion-button
                  size='small'
                  class="botaoPequeno"
                  (click)="abrirModal(campo, exame)"
                  tabindex="-1"
                >
                </ion-button>
              </ion-col>
              <ion-col class="ion-text-left">
                {{(campo.nome !== 'a' && campo.nome !== 'b') ? campo.nome : exame.nome}}
              </ion-col>
              <ion-col>
                <ion-input
                  [(ngModel)]="campo.resultado"
                  [disabled]="campo.tipo === 'fórmula'"
                  (keydown)="teste($event)"
                >
                </ion-input>
              </ion-col>
              <ion-col size='2'>{{campo.unidade}}</ion-col>
              <ion-col size='2'>
                {{campo.limiteInferior}}-{{campo.limiteSuperior}}
              </ion-col>
            </ion-row>
          </div>
        </div>
      </div>
    </ion-grid>
  </div>
</ion-content>
