<ion-header>
  <ion-fab horizontal="end">
    <ion-fab-button
      color="success"
      icon-only
      size="small"
      routerLink="/requisicoes/criar"
      routerDirection="forward"
    >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-toolbar color="primary">
    <ion-title>Lista de requisições</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col
        *ngFor="let requisicao of (requisicoes$ | async)"
        size='12'
        size-sm='6'
        size-md='4'
        size-lg='3'
        class="ion-align-self-stretch"
      >
        <app-requisicoes-item
          [requisicao]="requisicao"
          (atualizar)="onUpdate($event)"
          (excluir)="onDelete($event)"
        ></app-requisicoes-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
