<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-textarea
        rows="6"
        [(ngModel)]="valor"
      ></ion-textarea>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-button (click)="closeModal()">Salvar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
