<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isDadosCarregados()">
  <form
    [formGroup]="gruposForm"
    (submit)="onSubmit()"
  >

    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input
        name="nome"
        autofocus="true"
        inputmode="text"
        formControlName="nome"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Exames</ion-label>
      <ion-select
        formControlName="examesEscolhidos"
        name="examesEscolhidos"
        multiple="true"
      >
        <ion-select-option *ngFor="let exameDisponivel of examesDisponiveis">{{exameDisponivel}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button
      type=submit()
      color="success"
    >
      Salvar
    </ion-button>
  </form>
</ion-content>
