<ion-header>
  <ion-fab horizontal="end">
    <ion-fab-button
      color="success"
      icon-only
      size="small"
      routerLink="/exames/criar"
      routerDirection="forward"
    >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-toolbar color="primary">
    <ion-title>Lista de exames</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-exames-item
    *ngFor="let exame of (exames$ | async)"
    [exame]="exame"
    (atualizado)="onUpdate($event)"
  ></app-exames-item>
</ion-content>
