<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  class="ion-padding"
  *ngIf="isDadosCarregados()"
>
  <form
    [formGroup]="examesForm"
    (submit)="onSubmit()"
  >
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input
        name="nome"
        autofocus="true"
        inputmode="text"
        formControlName="nome"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Categoria</ion-label>
      <ion-select
        formControlName="categoria"
        name="categoria"
      >
        <ion-select-option *ngFor="let categoria of categorias">{{categoria}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Ordem</ion-label>
      <ion-input
        name="ordem"
        inputmode="number"
        type="number"
        formControlName="ordem"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Avulso?</ion-label>
      <ion-checkbox
        name="avulso"
        formControlName="avulso"
      >
      </ion-checkbox>
    </ion-item>

    <ion-button
      (click)="adicionarCampoForm()"
      size="small"
      class="ion-padding"
    >
      Adicionar Campo
    </ion-button>
    <ion-note
      color="danger"
      center
    >
      {{erro}}
    </ion-note>
    <!-- Campos -->
    <div formArrayName="campos">
      <ion-card *ngFor="let campoForm of examesForm['controls'].campos['controls']; let ix=index">
        <ion-card-content formGroupName={{ix}}>
          <ion-item>
            <ion-label position="stacked">Nome</ion-label>
            <ion-input
              name="nome"
              inputmode="text"
              type="text"
              formControlName="nome"
            >
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Unidade</ion-label>
            <ion-input
              name="unidade"
              inputmode="text"
              type="text"
              formControlName="unidade"
            >
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Tipo</ion-label>
            <ion-select
              formControlName="tipo"
              name="tipo"
            >
              <ion-select-option *ngFor="let tipoDeValor of tiposDeValor">{{tipoDeValor}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Fórmula</ion-label>
            <ion-input
              name="tipo"
              inputmode="text"
              type="text"
              formControlName="formula"
            >
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Valor Padrão</ion-label>
            <ion-input
              name="tipo"
              inputmode="text"
              type="text"
              formControlName="valorPadrao"
            >
            </ion-input>
          </ion-item>
          <!-- Espécies -->
          <ion-button
            (click)="adicionarEspecieForm(ix)"
            size="small"
            class="ion-padding"
            color="secondary"
          >
            Adicionar Espécie
          </ion-button>
          <div formArrayName="especies">
            <ion-card *ngFor="let especieForm of campoForm['controls'].especies['controls']; let iy=index">
              <div formGroupName={{iy}}>
                <ion-item>
                  <ion-label position="stacked">Espécie</ion-label>
                  <ion-select
                    formControlName="especie"
                    name="especie"
                  >
                    <ion-select-option *ngFor="let especie of especies">{{especie}}</ion-select-option>
                  </ion-select>
                </ion-item>
                <!-- Idades -->
                <ion-button
                  (click)="adicionarIdadeForm(ix, iy)"
                  size="small"
                  class="ion-padding"
                  color="tertiary"
                >
                  Adicionar Idade
                </ion-button>

                <div formArrayName="idades">
                  <ion-card *ngFor="let idade of especieForm['controls'].idades['controls']; let iz=index">
                    <div formGroupName={{iz}}>

                      <ion-item>
                        <ion-label position="stacked">Idade Mínima</ion-label>
                        <ion-input
                          name="idadeMinima"
                          inputmode="text"
                          type="text"
                          formControlName="idadeMinima"
                        >
                        </ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-label position="stacked">Idade Máxima</ion-label>
                        <ion-input
                          name="idadeMaxima"
                          inputmode="text"
                          type="text"
                          formControlName="idadeMaxima"
                        >
                        </ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-label position="stacked">Limite Inferior</ion-label>
                        <ion-input
                          name="limiteInferior"
                          inputmode="text"
                          type="text"
                          formControlName="limiteInferior"
                        >
                        </ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-label position="stacked">Limite Superior</ion-label>
                        <ion-input
                          name="limiteSuperior"
                          inputmode="text"
                          type="text"
                          formControlName="limiteSuperior"
                        >
                        </ion-input>
                      </ion-item>

                    </div>
                  </ion-card>
                </div>
              </div>
            </ion-card>
          </div>
        </ion-card-content>

      </ion-card>
    </div>

    <ion-button
      type=submit()
      color="success"
    >
      Salvar
    </ion-button>
  </form>
</ion-content>
